body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(178, 243, 247);
}

.chessboard{
    width: 80vw;
    height: 80vw;
    border: 2px solid black;
    box-shadow: 2px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 12.5%;
    height: 12.5%;
    float: left;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chessboard .square{
    font-size: 50px;
    text-align: center;
}

.white{
    background-color: #edd1a4;
    cursor: pointer;
}

.black{
    background-color: #d48e55;
    cursor: pointer;
}

.coordinate{
    height: auto;
    display: flex;
    bottom: 4%;
    left: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank{
    top: 4%;
    right: 4%;
    left: auto;
}

.whitetext{
    color: #edd1a4;
}

.blacktext{
    color: #d48e55;
}

@media(min-width:600px){
    .chessboard{
        width: 600px;
        height: 600px;
    }
}

@media(max-width:600px){
    .coordinate{
        font-size: 12px;
    }
}
